.contenedor-imc{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form input{
    margin: .5em 1em;
    padding: .8em;
    font-size: 1rem;
    border-radius: .5em;
    border: none;
}
.botones{
    width: 100%;
    padding: 1em 0;
    font-size: 1rem;
    color: aliceblue;
    border: 2px solid rgb(240, 240, 240);
    border-radius: .5em;
    
    cursor: pointer;
    user-select: none;
  }
.calcular{
    background-color: rgb(36, 208, 90);
    margin-bottom: .8em;
}
.reiniciar{
    background-color: rgb(203, 43, 43);
}
.btn{
    margin-top: 1.8em;
    margin-bottom: 1em;
}
  