*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 230, 183);
}
.principal{
  min-height: 400px;
  min-width: 300px;
  padding: 1em 2em;
  border-radius: .7em;
  color: aliceblue;
  background-color: rgb(131, 185, 128);
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
